<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Flights">
    <classes>
      <class name="testCases.HomePageTest"/>
      </classes>
      </test>
      <test thread-count="5" name="GoStay">
      <classes>
      <class name="testCases.GoStayTest">
      <methods>
      <exclude name="selectTrendingCity"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
