<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="resources.Listeners" />
		<listener class-name="resources.ExtentReporterNG" />
	</listeners>
	
		
		<test thread-count="5" name="Test2">
			<classes>

				<class name="testClassesStepDefinations.IbiboBasicTestsSteps" />
			</classes>
		</test> <!-- Test -->	
		<test thread-count="5" name="Test3">
			<classes>

				<class name="testClassesStepDefinations.HealthcareSuccessTests" />
			</classes>
		</test> <!-- Test -->

</suite>